.header-navbar{
    margin-bottom: 0;
    border: 1px solid #ddd;
    width: 84%;
    left: 16%;
    background-color:$primary;
    border:none;

    .sidebar-toggle{
        .navbar-brand{
            .ion{
                color: #fff;
                float: left;
                font-size: 25px;
                margin-top: -3px;
            }
        }
    }

    .navbar-nav{
        li{
            a{
                color:#fff;
                
                &:hover, &:focus{
                    background-color: $secondry;
                }
            }
        }
    }
}